@import "main.css";
@import "headers.css";
@import "materials.css";
@import "feature.css";
@import "footer.css";
@import "innovative.css";
@import "script.js";

* {
    padding: 0;
    margin:0;
    box-sizing:border-box;

}