.four_page {
    display: flex;
    align-items: center;
    color: #000;

}

.fr_page {
    margin-left: 100px;
}

.img_fr{
    width: 460px;
    height: 430px;
    margin-left: 150px;
}

.fr_title {
    font-family: "Merriweather";

}

.fr_paragraph {
    color: var(--Greys-Light-grey, #646D70);
font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph / Medium */
font-family: Rubik;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 183.333% */

}
